.page {
  background-color : #F7D358;
}
.header {
  background-color : #8904B1;
  color : white;
  text-align : center;
  padding : 35px;
}
.main {
  display : flex;
}
 .main h2 {
  color :#FF0040;
}
.left-section {
  padding: 50px 70px 50px 50px;
  margin : 10px 0px;
}
.right-section {
  background-color: #F3E2A9;
  border : 5px,solid,red;
  padding: 100px;
  margin : 10px auto;
}
.footer {
  color : white;
  text-align : center;
  padding : 35px;
}
